:root {
    --darkBg: #222;
    --darkerBg: #1f1f1f;
    --bgAccent: #F26C4F;
    --bgAccentDark: #E84A2C;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    background: var(--darkBg);
    color: #fff;
}

.container {
    width: 70%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

nav h3 {
    font-size: 1.4rem;
    text-align: center;
}

nav h3 span {
    background: var(--bgAccent);
    color:  #fff;
    padding: .5rem 1rem;
    border-radius: 8px;
}

nav ul {
    display: flex;
} 

nav li {
    margin: 0 1rem;
}

nav a{
    color: #fff;
    font-size: 1.2rem;
}

nav a.menu{
    background: var(--bgAccent);
    color:  #fff;
    padding: .5rem .8rem;
    border-radius: 6.5px;
}

.content {
    height: 75vh;
    background-image: url('../../assets/img/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.flexbox {
    display: flex;
    height: 100%;
}

.inner-desc {
    margin: auto;
    padding: 0 1rem;
}

.hero-desc {
    display: flex;
}

.hero-desc h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.hero-desc h3 {
    margin-bottom: 0.5rem;
}

.hero-desc p{
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.span-6 {
    flex-basis: 70%;
}


.span-6 img {
    height: auto;
    width: 100%;
}

.flex {
    display: flex;
}

.about {
    background: var(--darkerBg);
    color: #fff;
    padding: 2.5rem 0;
}

.about h5 {
    color: var(--bgAccentDark);
    margin-bottom: 1.3rem;
}

.about-left h2 {
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.about-left p {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.experience {
    padding: 1rem;
}  

.experience :first-child {
    font-size: 2.5rem;
    color: var(--bgAccentDark);
}

.experience :last-child {
    font-size: 1.2rem;
}