:root {
    --darkBg: #222;
    --darkerBg: #1f1f1f;
    --bgAccent: #F26C4F;
    --bgAccentDark: #E84A2C;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    background: var(--darkBg);
    color: #fff;
}

.container {
    width: 70%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

nav h3 {
    font-size: 1.4rem;
    text-align: center;
}

nav h3 span {
    background: var(--bgAccent);
    color:  #fff;
    padding: .5rem 1rem;
    border-radius: 8px;
}

nav ul {
    display: flex;
} 

nav li {
    margin: 0 1rem;
}

nav a{
    color: #fff;
    font-size: 1.2rem;
}

nav a.menu{
    background: var(--bgAccent);
    color:  #fff;
    padding: .5rem .8rem;
    border-radius: 6.5px;
}

.content {
    height: 75vh;
    background-image: url('../../assets/img/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.flexbox {
    display: flex;
    height: 100%;
}

.inner-desc {
    margin: auto;
    padding: 0 1rem;
}

.hero-desc {
    display: flex;
}

.hero-desc h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.hero-desc h3 {
    margin-bottom: 0.5rem;
}

.hero-desc p{
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.span-6 {
    flex-basis: 70%;
}


.span-6 img {
    height: auto;
    width: 100%;
}

.flex {
    display: flex;
}

.about {
    background: var(--darkerBg);
    color: #fff;
    padding: 2.5rem 0;
}

.about h5 {
    color: var(--bgAccentDark);
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
}

.about-left {
    padding-right: 1.8rem;
}

.about-left h2 {
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.about-left p {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.experience {
    display: flex;
    align-items: center;
}  

.experience span:first-child {
    font-size: 5rem;
    color: var(--bgAccentDark);
    padding-right: 1rem;
}

.experience :last-child {
    font-size: 1.14rem;
    line-height: 1.8rem;
}

.about-right {
    padding-left: 1rem;
}

.about-right h1 {
    font-size: 3rem;
    margin-bottom: .5rem;
}

.about-right h2 {
    color: var(--bgAccentDark);
    margin-top: 2rem;
}

.small-header {
    color: var(--bgAccentDark);
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
}

.main-header {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}

.text-center {
    text-align: center;
}

.services {
    padding: 3rem 0;
    background: var(--darkBg);
    color: #fff;
}

.services-main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}

.single-service {   
    text-align: center;
    position: relative;
}

.single-service.active .services-inner {
    background: var(--darkerBg);
}

.single-service.active .bg,
.single-service:hover .bg{
    position: absolute;
    background-image: linear-gradient(50deg, #8A2BE2,#E84A2C);
    right: -3%;
    bottom: -3%;
    height: 90%;
    width:  90%;    
    z-index: -0;
}

.single-service:hover .services-inner {
    background: var(--darkerBg);
}

.services-inner {
    padding: 5rem 1.5rem;
    position: relative;
    z-index: 5;
}

.single-service span{
    color: var(--bgAccentDark);
    font-size: 3rem;
}

.single-service h3{
    font-size: 1.7rem;
    margin: 1rem 0;
}

.single-service p {
    line-height: 1.6rem;
    margin-bottom: 1.3rem;
}

.single-service a {
    color: var(--bgAccent);
    font-size: 1.1rem;
    position: relative;
}

.portfolio {
    padding: 3rem 1rem;
    background: var(--darkerBg);
    color: #fff;
}

.gallery-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2,260px);
    grid-gap: .7rem;
}

.gallery-item {
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-item div,
.gallery-item a {
    height: 100%;
    width: 100%;
}

.gallery-item a {
    display: block;
    background: rgba(0,0,0,0.5);
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    color: #fff;
}